<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vlara.honeyhide.donate"
    android:versionCode="3"
    android:versionName="3.0" >

    <uses-sdk android:minSdkVersion="11" android:maxSdkVersion="13" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <receiver
            android:name="com.vlara.honeyhide.HoneyHideWidget"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.vlara.honeyhide.HoneyHideWidget.ACTION_WIDGET_RECEIVER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/button_widget_provider" />
        </receiver>

        <activity
            android:name="com.vlara.honeyhide.Preferances"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>